.flex-container{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.item{
    background: blue;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 5px;
    line-height: 50px;
}
.row{
    flex-direction: row;
}
.row-inverso{
    flex-direction: row-reverse;
}
.row-inverso li{
    background: red;
}
.column{
    float: left;
    flex-direction: column;
}
.column li{
    background: orange;
}
.column-inverso{
    float: right;
    flex-direction: column-reverse;
}
.column-inverso li{
    background: purple;
}